
  
  .mapSide {
    width: 430px;
    left: 2%;
    height: 92vh;
    background-color:#E5FCF5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
  }

  .cordinatesForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 1.5rem 1rem;
  }