
  
  .mapSide {
    // height: 92vh;
    // background-color:#E5FCF5;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // border-radius: 8px;
    padding: 0 13%;
    z-index: 10;
    @media (max-width: 768px) {
      padding: 5% 0;
    }
  }

  .mapSideIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 1.5rem 1rem;
  }