.app {
  position: relative;
  height: 100vh; // Full screen height
  width: 100vw; // Full screen width
}

.map {
  height: 96vh;
}

.orderArea {
  // display: flex;
  height: 80vh;
  padding: 2% 5%;
  @media (max-width: 768px) {
    padding: 2% 3%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.leftPane {
  flex: 0.5;
  padding: 20px;
  background-color: white;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.rightPane {
  flex: 0.5;
  padding: 20px;
  height: 80vh;

  @media (max-width: 768px) {
    padding: 0;
  }
}