.app {
    position: relative;
    height: 100vh;  // Full screen height
    width: 100vw;   // Full screen width
  }
.map {
  height: 96vh;
}

.orderArea {
  display: flex;
  height: 96vh;
  padding: ;
}