.header {
    background-color: white;
    color: #737373;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4.10924px 4.10924px 12.3277px rgba(0, 0, 0, 0.3);
    height: 40px; 
}

.title {
    font-size: 1.5rem;
}

.nav {
    font-family: Inter;
    font-weight: bold;
    .navList {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navItem {
        margin-left: 1rem;
    }

    .navLink {
        color: #737373;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}