header {
    nav {
        box-shadow: 4.10924px 4.10924px 12.3277px rgba(0, 0, 0, 0.3);
        font-family: Inter;
        padding: 1.2% 0 !important;
        .container {
            .navbar-brand {
                background-image: url('./public/Logo\ 2.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            >div {
                justify-content: flex-end;
                ul {
                    align-items: center;
                    li {
                        // width: 83px;
                        width: auto;
                        display: flex;
                        justify-content: center;
                        a {
                            font-weight: bold;
                        }
                        .account {
                            width: 150px;
                            height: 70px;
                            background-color: black;
                            border-radius: 82px;
                            color: white;
                            background-image: url('./public/Profile.png');
                            background-size: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    .account-item {
                        width: 210px;
                        display: flex;
                        justify-content: flex-end;
                    }

                }
            }
        }
    }
}