@font-face {
    font-family: Inter;
    src: url('./Font/Inter/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face {
    font-family: Rubik;
    src: url('./Font/Rubik/Rubik-VariableFont_wght.ttf');
}
@font-face {
    font-family: Lato;
    src: url('./Font/Lato/Lato-Light.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('./Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}